@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.logo
{
    position: fixed;
    top:7px;
    left:8px;
    width:50px;
    height: 50px;
}
.aboutme
{
    position: relative;
    top:8%;
    left:19%;
    padding: 1em;
    background-color: rgba(223, 185, 137, 0.7);
    width:60%;
    height:70%;
    opacity: 1;    
    border-radius: 0.95em;
    text-align: justify;
}
.aboutme h1
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
    text-align: center;
    color:saddlebrown;
    position: relative;
}
#a
{
    position: relative;
    top:1%;
    font-family: 'Merienda', cursive;
    font-size:1em;
}
.am
{
    position: relative;
    left:40%;
    width:20%;
    height:auto;
    border-radius: 50%;
}
@media only screen and (max-width: 57em) 
{
    .aboutme
    {
    position: relative;
    left:30%;
    padding: 1em;
    width:50%;
    height:65%;
    font-size: 0.85em;
    }
    .am{
    width:30%;
    left:34%;
    }
}
@media only screen and (max-width: 42em) 
{
    .aboutme
    {
    position: relative;
    bottom:30%;
    padding:  1em;
    width:50%;
    height:65%;
    font-size: 0.75em;
    }
}