@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.logo{
    position: fixed;
    top:7px;
    left:8px;
    width:50px;
    height: 50px;
}
.academics
{
    position: relative;
    top:8%;
    left:19%;
    padding: 1em;
    background-color: rgba(223, 185, 137, 0.7);
    width:60%;
    height:70%;
    opacity: 1;    
    border-radius: 0.9375em;
    text-align: justify;
}
.academics h1
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
    text-align: center;
    color:saddlebrown;
    position: relative;
    top:0;
}
#b{
    position: relative;
    top:5%;
    font-family: 'Merienda', cursive;
    font-size:0.95em;
    text-align: justify;
}
.ac{
    position: relative;
    top:0;
    left:40%;
    width:18%;
    height:auto;
    border-radius: 50%;
}
@media only screen and (max-width: 57em) {
    .academics
    {
    position: relative;
    left:30%;
    padding: 1.25em;
    background-color: rgba(223, 185, 137, 0.7);
    width:50%;
    height:65%;
    font-size: 0.85em;
    }
    .ac{
    width:28%;
    left:35%;
    }
}
@media only screen and (max-width: 42em) {
    .academics{
    position: relative;
    padding-right: 1em;
    background-color: rgba(223, 185, 137, 0.7);
    width:50%;
    height:65%;
    font-size: 0.7em;
    }
}