@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.logo
{
    position: fixed;
    top:7px;
    left:8px;
    width:50px;
    height: 50px;
}
.achievements
{
    position: relative;
    top:8%;
    left:19%;
    padding: 1em;
    background-color: rgba(223, 185, 137, 0.7);
    width:60%;
    height:70%;
    opacity: 1;    
    border-radius: 0.95em;
    font-family: 'Merienda', cursive;
}
.achievements h1
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
    text-align: center;
    color:saddlebrown;
    position: relative;
    top:0;
}
.content1
{
    position: relative;
    top:0;
    left:40%;
    width:20%;
    height:auto;
    border-radius: 5%;
}
ul
{
    font-size: 1.3em;
    color:black;
}
@media only screen and (max-width: 57em) 
{
    .achievements
    {
    position: relative;
    left:30%;
    padding: 1.25em;
    width:50%;
    height:65%;
    font-size: 0.85em;
    }
    ul
    {
    font-size: 1.2em;
    }
}
@media only screen and (max-width: 42em) 
{
    .achievements
    {
    position: relative;
    right:5%;
    padding:  1.25em;
    width:50%;
    height:65%;
    font-size: 0.7em;
    }
    ul
    {
    font-size: 1.1em;
    }
}