@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.Logo{
    position: fixed;
    top:7px;
    left:8px;
    width:50px;
    height: 50px;
}
.ExtraCurricular
{
    position: relative;
    top:8%;
    left:19%;
    padding: 1em;
    background-color: rgba(223, 185, 137, 0.7);
    width:60%;
    height:70%;
    opacity: 1;    
    border-radius: 0.9375em;
    font-size: 0.95em;
    font-family: 'Merienda', cursive;
}
.ExtraCurricular h1
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(87, 53, 30);
    position: relative;
    top:0em;
}
.Ex
{
    position: relative;
    top:0;
    left:20%;
    width:30%;
    height:auto;
    border-radius: 5%;
}
.Art
{
    position: relative;
    top:0;
    left:20%;
    width:30%;
    height:auto;
    border-radius: 5%;
}
ul
{ 
    position: relative;
    font-size: 1.3em;
    color:black;
    left:15%;
    top:3%;
    padding-right: 20%;
}
@media only screen and (max-width: 57em) 
{
    .ExtraCurricular
    {
    position: relative;
    top:8%;
    left:30%;
    padding: 1.25em;
    width:50%;
    height:65%;
    font-size: 0.85em;
    }
    .Ex,.Art
    {
    width:40%;
    left:10%;
    }
    ul
    { 
    position: relative;
    font-size: 1.2em;
    left:5%;
    padding-right: 10%;
    }
}
@media only screen and (max-width: 42em) 
{
    .ExtraCurricular
    {
    position: relative;
    right:5%;
    padding:  1.25em;
    width:50%;
    height:65%;
    font-size: 0.75em;
    }
    ul
    { 
    position: relative;
    font-size: 1.1em;
    left:1%;
    }
}