.Logo
{
    position: fixed;
    top:7px;
    left:8px;
    width:50px;
    height: 50px;
}
h1
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 2.5em;
    text-align: center;
    color:white;
    position: relative;
    top:15px;
}
#SlideShow 
{ 
    margin: 50px auto; 
    position: relative; 
    top:25px;
    width: 260px; 
    height: 260px; 
    padding: 10px; 
    background-color: rgb(207, 179, 141,0.5);
    box-shadow: 0 0 20px rgba(248, 178, 73, 0.411); 
    overflow: hidden;
}
#SlideShow > div 
{ 
    position: relative; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
@media only screen and (max-width: 57em) 
{
    #SlideShow 
    { 
    margin: 50px auto; 
    position: relative; 
    width: 260px; 
    height: 260px;  
    padding: 10px; 
    box-shadow: 0 0 20px rgba(248, 178, 73, 0.411); 
    overflow: hidden; 
    }
    #SlideShow > div 
    { 
    position: relative; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    }
}
@media only screen and (max-width: 42em) 
{
    #SlideShow 
    { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px;  
    padding: 30px; 
    left:45px;
    box-shadow: 0 0 20px rgba(248, 178, 73, 0.411); 
    overflow: hidden; 
    }
    #SlideShow > div 
    { 
    position: relative; 
    top: 5px; 
    left: 5px; 
    right: 5px; 
    bottom: 5px; 
    }
    h1
    {
    left:50px;
    }
}