.logo
{
    position: fixed;
    top:7px;
    left:8px;
    width:50px;
    height: 50px;
}
.message
{
    position: relative;
    top:8%;
    left:19%;
    padding: 1em;
    background-color: burlywood;
    width:60%;
    height:70%;
    opacity: 0.5;    
    border-radius: 0.9375em;
}
.message h1
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 3em;
    text-align: center;
    color:black;
    position: relative;
    top:40%;
    transform:translateY(-1.5em);
}
@media only screen and (max-width: 57em) 
{
    .message
    {
        position: relative;
        left:30%;
        padding: 1.25em;
        background-color: burlywood;
        width:50%;
        height:65%;
    }
    .message h1
    {
        font-size:2.25em;
        position: relative;
    }
}
@media only screen and (max-width: 42em) 
{
    .message
    {
        position: relative;
        right:5%;
        padding: 1.25em;
        background-color: burlywood;
        width:50%;
        height:65%;
        opacity: 0.6;
    }
    .message h1
   {
        font-size:1.5em;
   }
}