@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Resources/2.jpg);
    width:100%;
    height:670px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
.Navigate
{
    border-bottom: 0.15em solid white;
    text-align: right;
    height: 4em;
    color: aliceblue;
    line-height: 4em;
}
.Menu
{
    margin: 0 2em 0 0;  
}
.Menu a
{
    text-decoration:none;
    color: white;
    margin:0 1em;
    line-height: 4.375em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    transition: 0.1s;
}
label
{
    margin: 0 2.5em 0 0;
    font-size:0.9375em;
    line-height: 4.375em;
    display: none;
}
#Toggle 
{
    display: none;
}
.Menu a:hover
{
   background-color:#64991e;
   color: black; 
}
.Menu a#Onlink
{
   background-color: #64991e;
   color:whitesmoke; 
}
.Menu a#Onlink:hover
{
   background-color:  #64991e;
   color: black; 
}
@media only screen and (max-width: 57em) 
{
    label 
    {
        display: block;
        cursor: pointer;
    }
    .Menu 
    {
        text-align: center;
        color: white;
        width:20%;
        display: none;
        margin-top: 0.1em;
    }
    .Menu a 
    {
        display: block;
        font-size: 0.9em;
        margin: 0em; 
    }
    #Toggle:checked + .Menu 
    {
        display: block;
    }
}
@media only screen and (max-width: 42em)
{
    label 
    {
        display: block;
        cursor: pointer;
    }
    .Navigate
    {
        height: 4em;
        line-height: 3.125em;
    }
    .Menu 
    {
        margin-top: 0.1em;
    }
    .Menu a 
    {
        display: block;
        margin: 0;
        font-size: 0.8em;
        font-family: sans-serif;
        font-weight:bold;
    }
    #Toggle:checked + .Menu 
    {
        display: block;
    }
}